####
# Exercism .gitignore
#===
# C++
#---
# Object files
*.o
# CMake files and directories
*.cmake
CMakeFiles/
CMakeCache.txt
#===
# Java
#---
# .gradle
.gradle/
*.gradle
# build directory
build/
#===
# Python
#---
# Compiled python modules
*.pyc
#===
# Scala
#---
# Project and target directories
project/
target/
# .class files
*.class

.vscode/
.exercism/
shell/
